@{
    ViewBag.Title = "Utilizatori";
}

<table class="table">
    <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Editeaza</th>
    <th>Stergere</th>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.UsersList)
        {
            if (user.Id != ViewBag.UserCurent)
            {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                @if (User.IsInRole("Admin"))
                {
                    <td><a class="btn btn-primary" href="/Users/Edit/@user.Id">Editeaza Utilizator</a></td>
                    <td>
                        @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @user.Id }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            
                            <button class="btn btn-danger" type="submit">Stergere Utilizator</button>
                        }
                    </td>
                }
            </tr>
            }
        }
    </tbody>
</table>

