@{
    ViewBag.Title = "Workshop";
}
<h2>@ViewBag.Title</h2>
@foreach (var workshop in ViewBag.Workshops) {
<div class="box">

    <h4>Workshop nr: @workshop.WorkshopId</h4>
    <strong>Timestamp:</strong>
    <p class="font-title">@workshop.Timestamp</p>
    <br />
    <br />
    <a class="btn btn-success pull-left" id="buton" href="/Workshop/Show/@workshop.WorkshopId">Displaying Workshop</a>

    <a class="btn btn-success pull-left" id="butona" href="/Workshop/Edit/@workshop.WorkshopId">Edit Workshop</a>

    <form method="post" action="/Workshop/Delete/@workshop.WorkshopId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" id="butond" type="submit">Delete Workshop</button>
    </form>

    <br />
    <br />

    <hr />
    <br />
</div>
}

<br />
<hr />
<a class="btn btn-primary" id="butona" href="/Workshop/New">Add Workshop</a>
<br />
<hr />
<br />