@{
    ViewBag.Title = "Sesiuni";
}

@foreach (var session in ViewBag.Recruitment_Sessions) {
    <div class="box">
        <strong>Perioada:</strong>
        <p class="font-title">@session.Period</p>
        <strong>An:</strong>
        <p>@session.Year</p>
        <br />
        <br />
        <a class="btn btn-success" id="buton" href="/Session/Show/@session.SessionId">Afisare Sesiune</a>

        @if (User.IsInRole("Admin")) {
            <a class="btn btn-success" id="butone" href="/Session/Edit/@session.SessionId">Editare Sesiune</a>

            <form method="post" action="/Session/Delete/@session.SessionId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger" id="butond" type="submit">Ștergere Sesiune</button>
            </form>
            <br />
        }

    </div>
    <br>

}


@if (User.IsInRole("Admin")) {
    <a class="btn btn-primary" id="butona" href="/Session/New">
        Adaugă Sesiune
        <span></span><span></span><span></span><span></span>
    </a>
}