@{
    ViewBag.Title = "Session";
}
<h2>@ViewBag.Title</h2>
@foreach (var session in ViewBag.Recruitment_Sessions)
{
    <div class="box" >

        <strong>Period:</strong>
        <p class="font-title">@session.Period</p>
        <strong>Year:</strong>
        <p>@session.Year</p>
        <br />
        <br />
        <a class="btn btn-success pull-left" id="buton" href="/Session/Show/@session.SessionId">Displaying Session</a>

        <a class="btn btn-success pull-left" id="butona" href="/Session/Edit/@session.SessionId">Edit Session</a>

        <form method="post" action="/Session/Delete/@session.SessionId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" id="butond" type="submit">Delete Session</button>
        </form>
<br />

 
    </div>
    <br>
}


<hr />
<a class="btn btn-primary" id="butona" href="/Session/New">Add Session</a>

