@{ ViewBag.Title = "Home Page"; }

<header>
    <div class="cover">
        <img src="Media\cover.png" style="width:100%; padding:0px; margin:0px;" />
    </div>
</header>

<section style="color:white;">
    <h1>Asociația Studenților de la Matematică și Informatică</h1>
    <p class="lead">Haide în echipa noastră!</p>
    <p><a href="https://localhost:44363/Account/Register" class="btn btn-primary btn-lg">Join us &raquo;</a></p>
    <br /> <br /><br /><br /><br /><br /><br />
    <!--
    <div class="row">
        <div class="col-md-4">

            <h2>Dezvoltare</h2>
            <p>Fii voluntar la cea mai de top facultate din țară!</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Înscrie-te aici &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Prietenie</h2>
            <p> Fă-ți studenția plăcută!</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Înscrie-te aici &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Libertate</h2>
            <p>Suntem o echipă tânără de voluntari!</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Înscrie-te aici &raquo;</a></p>
        </div>
    </div>
    -->
</section>