body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x:hidden;
}


.box {
    border: solid 5px rgb(0 49 74 / 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.box:hover {
    border-width: 10px;
    transition: border-width 0.3s ease-out;
}

.btn {
    font-size: 16px;
    margin: 5px;
}

.btn-primary,.btn-success {
    background-color: #3491bf;
    border: 0px;
}

.btn-primary:hover, .btn-success:hover{
    background-color: #00314a;
    transition: background-color 2s ease-out;
}

#butona{
    font-size:24px;
    margin:10px;
}
div {
    display: block;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color:white;
    margin-top:0;
}

#cover {
   width:100%;
   height:100%;
}

#bg-img {
    left:0;
    top:0;
    position:fixed;
    background-position: center center;
    background-image: url(/Media/cover.png);
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

@media screen and (max-width: 1024px) {
    #text h1{
        font-size:60px;
    }
}
@media screen and (max-width: 512px) {
    #text h1 {
        font-size: 40px;
    }
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


#form{
    text-align: center;
}

.container{
    margin-left:50px;
    margin-right:50px;
    width:93%;
    overflow-x:hidden;
}
.showcase {
    background-image: url(/Media/cover.png);
    background-size: cover;
    background-position: center;
    height:70vh;
    width:100%;
    z-index:-1;
    margin-bottom:15px;
    border-radius: 5px;
}
.navbar{
    margin:0;
}
.showcase h2{
    position:relative;
    line-height:500px;
}
.showcase h3 {
    position: relative;
    top: 18%;
    left: 5%;
    line-height: 50px;
    color: white;
    margin-top: 0;
    font-size: 40px;
    font-family: "Times New Roman", "Garamond", serif;
}

