@{
    ViewBag.Title = "Confirmarea resetarii parolei";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Parola ta a fost resetata. Te rog @Html.ActionLink("click aici pentru conectare", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
